
html
{
    height: 100%;
    background: #A05F5F;
}

#form
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 750ms cubic-bezier(.27,.02,.66,1.65);
    border : 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background: linear-gradient(130deg, rgba(160,95,95,1) 0%, rgba(179,127,127,0.45524691358024694) 100%);
    width: 500px;
    height: 500px;
    max-width: 80%;    
    font-weight: bold;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
}

#form.active
{
    transform: translate(-50%, -50%) scale(1);  
}

#formHeader
{
 text-align: right;
}

#formBody
{
    padding-top:15%;
    font-size: 20px;
}

#formBody input
{
    font-size: 20px;
}
#formBody div
{
display:flex;
justify-content: space-between ;
max-width: 99%;
}

#formFooter
{
    text-align: center;
}

#formFooter input
{
    margin-top: 40px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 50%;
    font-size: 30px;
    height: 50px;
    width: 50px;
    font-weight: bold;
    color: #A05F5F;
    transition: 500ms ;
    background: linear-gradient(130deg, rgba(160,95,95,1) 0%, rgba(62,83,118,1) 100%);
    text-align: center;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
}
#formFooter input:hover
{
    color: #6783B0;
    background: linear-gradient(130deg, rgba(62,83,118,1) 0%, rgba(160,95,95,1) 100%);
}
input
{
    border-radius: 5px;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
}
select
{
    border-radius: 5px;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
    width: 100px;
}

#formFooter input:hover
{
    box-shadow: 0px 0px 6px 5px  rgba(0,0,0,0.75);
}
#formBody div
{
    margin-top: 35px;
}
#form #closeButton
{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 30px;
    height: 35px;
    width: 35px;
    font-weight: bold;
}
#overlay
{
    position: fixed;
    opacity: 0;
    transition: 250ms ease-in-out;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgb(0,0,0,.5);
    pointer-events: none;
}

#overlay.active
{
    opacity: 1;
    pointer-events: all;
}
#bookContainer
{
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    transition: 250ms  ease-in-out;

}

.bookCard
{
    border-radius: 10px;
    background: #6783B0;
    width: 250px;
    max-width: 250px;
    height: 275px;
    font-weight: bold;
    text-align: center ;
    margin: 10px 15px;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
}

.innerCard
{
    padding-top: 20px;
}
.statusCard
{
    border : none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
    background: none;
    font-size: 17px;
    font-weight: bold;
}
.cardStatusLu
{
    background: linear-gradient(130deg, rgba(62,83,118,1) 0%, rgba(79,107,152,0.5493827160493827) 100%);
}
.cardStatusNonLu
{
    background: linear-gradient(130deg, rgba(160,95,95,1) 0%, rgba(179,127,127,0.45524691358024694) 100%);
}
.closeButton
{
    margin-top: 50px;
    cursor: pointer;
    border: none;
    outline: none;
    margin-bottom: 50px;
    border-radius: 50%;
    font-size: 30px;
    height: 50px;
    width: 50px;
    font-weight: bold;
    color: black;
    transition: 500ms ;
    background: linear-gradient(130deg, rgba(160,95,95,1) 19%, rgba(62,83,118,1) 100%);
    color: #6783B0 ;
    text-align: center;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
}

.closeButton:hover
{
    box-shadow: 0px 0px 6px 5px  rgba(0,0,0,0.75);
    color: black;
}

#buttonForm
{
    cursor: pointer;
    border: none;
    outline: none;
    margin-left: 50%;
    margin-bottom: 50px;
    border-radius: 50%;
    font-size: 30px;
    height: 50px;
    width: 50px;
    font-weight: bold;
    color: black;
    background: linear-gradient(130deg, rgba(160,95,95,1) 0%, rgba(62,83,118,1) 100%);
    color: #A05F5F;
    transition: 500ms ;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);

}

#buttonForm:hover
{
    background: linear-gradient(130deg, rgba(62,83,118,1) 0%, rgba(160,95,95,1) 100%);
    color : black;
}